
@model IEnumerable<Services.Tank.TankAsofConsumption>

@foreach (var item in Model)

{
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge"></div>
                    <div>@item.Name </div>
                    <div>Consumption! @item.TotalComsumption</div>
                </div>
            </div>
        </div>
        <a href="#" onclick="ShowBreakup()">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
}