@model IEnumerable<Services.Helper.StockLedger>

@{
    ViewBag.Title = "StockLedger";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.0.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/AJCDataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/AJCDataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/AJCDataTables/jszip.min.js"></script>
<script src="~/Scripts/DataTables/AJCDataTables/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables/AJCDataTables/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/AJCDataTables/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables/AJCDataTables/buttons.print.min.js"></script>





<h2>Tank Ledger</h2>
<Script type="text/javascript">
 $(document).ready(function () {
       // $('#txtDate').datepicker();
       // $('#txtDate').datepicker('setDate', new Date());


        $('#cmbCategory').change(
            function () {
                var CategoryID = $('#cmbCategory').val();

                $.ajax
                    (
                    {
                        type: "GET",
                        url: '@Url.Action("GetItemByCategory", "Purchase")' + "?ID=" + CategoryID,
                        dataType: "json",
                        data: {},
                        success: function (response) {
                        var option = "<option value=''>Select Item</option>"
                        $.each
                        (
                        response, function (index, item) {
                        option += "<option value=" + item.ID + ">" + item.Name + "</option>"
                        }
                        );
                        if (option != null && option != "" && option != "<option value=''>Select Item</option>") {
                        $('#Item').html(option);
                        }
                        else {
                        var option = "<option value=''>Select Item</option>";
                        $('#Item').html(option);
                        }

                        }
                        }
                        );
                   })
});
    </script>

  @using (Ajax.BeginForm("StockLedger", "Stock",
                   new AjaxOptions
                   {
                       HttpMethod = "Post",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "DivDisciplinary",
                       LoadingElementId = "divloading"

                   }, new { id = "ShowForm" }))
 {


<table class="table table-striped">
    <tr>
        <td>Date From: </td>
        <td>@Html.TextBox("txtFromDate", null, new { style = "width:35%;", @class = "datepicker" })</td>
        <td>Date To:</td>
        <td>@Html.TextBox("txtToDate", null, new { style = "width:35%;", @class = "datepicker" })</td>
    </tr>
    <tr>
        <td>Tank</td>
        <td>@Html.DropDownList("cmbBuilding", ViewBag.Tank as SelectList, "Select Tank", new { @class = "form-control", @required = "required" })</td>
    </tr>
    
    <tr>
        <td><input type="submit" value="Show" id="btnProcess" class="btn btn-primary" name="ButtonType" /></td>
    </tr>
    </table>
  }
    <div id="divloading" style="display: none">
        <img src="~/Content/Images/Spinner.gif" runat="server" />
    </div>
    <div id="DivDisciplinary"></div>



