@model Core.Domain.BillConsumption

@{
    ViewBag.Title = "Bill Consumption";
}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>



<script type="text/javascript">
    $(document).ready(


        function () {
            $("#divProcessingCapex").hide();

         
        });
   
    function GetDetail()
    {
        $("#divProcessingCapex").show();
        var contractNo = $("#ContractNo").val();
        
        if (contractNo != "") {
           
            $.ajax({
                url: 'GetcustomerDetail?ContractNo=' + contractNo + '',
                dataType: "html",
                success: function (data) {
                    $('#Details-dialog').html(data);
                    $("#divProcessingCapex").hide();
                }
            });
        }
        else {
            $('#Details-dialog').empty();
            $("#divProcessingCapex").hide();
        }


    }

</script>

<h2>Add New Bill </h2>

<div class="well well-sm">
    <table class="table-striped">
        <tr>
            <td>
                @Html.Label("Customer Contract No:", htmlAttributes: new { @class = "control-label" })
            </td>
                
                <td>@Html.TextBox("ContractNo", "", new { @class = "form-control" })
            </td>
            
            <td>
                &nbsp;&nbsp;
                <input type="button" value="Get Customer Detail" class="btn btn-info" onclick="GetDetail()"/></td>
                <td><img id="divProcessingCapex" src="~/Content/Images/Spinner.gif"></td>
            
        </tr>

    </table>
    <br />
    <div id="Details-dialog"></div>
</div>

